.user-logged-in header.fixed {
  top: auto;
}
.user-logged-in #page-content #flexslider,
.user-logged-in #page-content #flexslider-nav {
  margin-top: 0;
}
.user-logged-in header nav.navbar #search-box button.close-search-box {
  margin-top: 79px;
}
.user-logged-in .block-local-tasks-block {
  position: fixed;
  bottom: 30px;
  left: 50px;
  z-index: 100;
  margin: 0;
}

.user-logged-in .messages__wrapper {
  position: fixed;
  left: 50px;
  top: 190px;
  z-index: 100;
  background-color: #fff;
}
.user-logged-in .messages__wrapper .alert.alert-success {
  margin-bottom: 0;
}

.page-title {
  margin-top: 50px;
}

.block-local-tasks-block {
  margin: 18px 0;
}

header:not(.transparent) .white-logo {
  display: none;
}

#search-block-form .form-actions {
  display: none;
}

.copy p {
  max-width: 100%;
  margin: 0;
}

.indented {
  margin-left: 16.66666667%;
  margin-bottom: 50px;
}

.description.help-block,
.filter-wrapper {
  display: none;
}

@media screen and (min-width: 991px) {
  .wp-block-image.size-full,
  .alignwide {
    max-width: 100vw;
    margin: 50px -100px !important;
  }
  .wp-block-embed-youtube iframe {
    height: 600px;
  }
}
.wp-block-quote {
  border-left: initial;
}
.wp-block-quote p {
  color: white;
}
#cke_edit-comment-body-0-value {
  margin-bottom: 25px;
}
.fullwidth {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

.search-form .form-button.big {
  display: none;
}

.search-results {
  margin-left: 0;
  padding: 0;
}

.search-results li {
  margin: 0;
}
